<!DOCTYPE html>
<html>
<head>
  <title>SimplaPapes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%#= render partial: 'sidebar' %>
<!-- Load  -->
<%= yield %>

</body>
</html>
